bin/*.js
lib/*.js
*.d.ts
node_modules
.env
venv

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
layers/build/*
layers/**/package-lock.json

# Runtime context - DO NOT IGNORE THIS IN PRODUCTION REPOS!
cdk.context.json
