bin/*.js
lib/*.js
test/*.js
!jest.config.js
*.d.ts
node_modules
.env

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
layers/build/*
layers/**/package-lock.json